Talleres/facturacionRest/web/WEB-INF/wsdl/3.230.55.215_80/facturacion-war/PersonaWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3.payara-p3 (2.4.3.payara-maintenance-a5c1c68; 2019-06-17T14:04:38+0200) JAXWS-RI/2.3.2.payara-p2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://ws.facturacion.espe.edu.ec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.facturacion.espe.edu.ec/">

<xs:element name="buscarPorCedula" type="tns:buscarPorCedula"/>

<xs:element name="buscarPorCedulaResponse" type="tns:buscarPorCedulaResponse"/>

<xs:element name="crearPersona" type="tns:crearPersona"/>

<xs:element name="listarTodas" type="tns:listarTodas"/>

<xs:element name="listarTodasResponse" type="tns:listarTodasResponse"/>

<xs:complexType name="listarTodas">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listarTodasResponse">
<xs:sequence>
<xs:element name="return" type="tns:persona" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="persona">
<xs:sequence>
<xs:element name="cedula" type="xs:string" minOccurs="0"/>
<xs:element name="direccion" type="xs:string" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="telefono" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="crearPersona">
<xs:sequence>
<xs:element name="persona" type="tns:persona" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarPorCedula">
<xs:sequence>
<xs:element name="cedula" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarPorCedulaResponse">
<xs:sequence>
<xs:element name="return" type="tns:persona" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>