Talleres/facturacionRest/web/WEB-INF/wsdl/3.230.55.215/facturacion-war/PersonaWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3.payara-p3 (2.4.3.payara-maintenance-a5c1c68; 2019-06-17T14:04:38+0200) JAXWS-RI/2.3.2.payara-p2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3.payara-p3 (2.4.3.payara-maintenance-a5c1c68; 2019-06-17T14:04:38+0200) JAXWS-RI/2.3.2.payara-p2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.facturacion.espe.edu.ec/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.facturacion.espe.edu.ec/" name="PersonaWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.facturacion.espe.edu.ec/" schemaLocation="http://3.230.55.215:80/facturacion-war/PersonaWS?xsd=1"/>
</xsd:schema>
</types>
<message name="listarTodas">
<part name="parameters" element="tns:listarTodas"/>
</message>
<message name="listarTodasResponse">
<part name="parameters" element="tns:listarTodasResponse"/>
</message>
<message name="crearPersona">
<part name="parameters" element="tns:crearPersona"/>
</message>
<message name="buscarPorCedula">
<part name="parameters" element="tns:buscarPorCedula"/>
</message>
<message name="buscarPorCedulaResponse">
<part name="parameters" element="tns:buscarPorCedulaResponse"/>
</message>
<portType name="PersonaWS">
<operation name="listarTodas">
<input wsam:Action="http://ws.facturacion.espe.edu.ec/PersonaWS/listarTodasRequest" message="tns:listarTodas"/>
<output wsam:Action="http://ws.facturacion.espe.edu.ec/PersonaWS/listarTodasResponse" message="tns:listarTodasResponse"/>
</operation>
<operation name="crearPersona">
<input wsam:Action="http://ws.facturacion.espe.edu.ec/PersonaWS/crearPersona" message="tns:crearPersona"/>
</operation>
<operation name="buscarPorCedula">
<input wsam:Action="http://ws.facturacion.espe.edu.ec/PersonaWS/buscarPorCedulaRequest" message="tns:buscarPorCedula"/>
<output wsam:Action="http://ws.facturacion.espe.edu.ec/PersonaWS/buscarPorCedulaResponse" message="tns:buscarPorCedulaResponse"/>
</operation>
</portType>
<binding name="PersonaWSPortBinding" type="tns:PersonaWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="listarTodas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="crearPersona">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="buscarPorCedula">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="PersonaWS">
<port name="PersonaWSPort" binding="tns:PersonaWSPortBinding">
<soap:address location="http://3.230.55.215:80/facturacion-war/PersonaWS"/>
</port>
</service>
</definitions>